*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cormorant", serif;
}

.navbar {
  margin: 32px;
}

.navbar h1 {
  display: inline-block;
  margin: 0;
  font-weight: 300;
}

.navigation {
  display: inline-block;
}

.navigation ul {
  margin-left: 32px;
  padding: 0;
  list-style: none;
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  margin: 0 8px;
  font-size: 20px;
  font-weight: 300;
  color: #000;
  text-decoration: none;
}
.active{
    border-bottom: 1px solid #000;
}

.gallery{
padding: 16px;
  font-size: 0;
}

.card{
  display: inline-block;
  width: 50%;
  padding: 20px;
}

.card img{
  height: 500px;
  width: 100%;
  object-fit:cover;
}

.card img:hover{
  opacity: 0.9;
}

.card h2{
  font-weight: 300;
  margin: 8px 0 16px 0;
  font-size: 24px;
}

.about{
  margin:100px 0 100px 200px;
  width: 40%;
  min-width: 600px;
}

.about h3{
  margin: 28px 0 ;
  font-size: 40px;
  font-weight: 300;
}

.underline{
  padding-bottom: 8px;
  display: inline-block;
  border-bottom: 2px solid #000;
}

.contact{
  margin-top: 100px;
}

.contact p{
  font-size: 20px;
}

